# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# ROS2 build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
